table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 82%;
}

th,
td {
    padding: 15px;
}

.btn {
    margin-left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #f44336;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}