{% extends 'layout.html' %} {% block title %} Add Income {% endblock %} {% block content %}


<div class="addincome">
    <div class="webname">
        <h1>Add <span style="color: #f44336;"> Income.</span></h1>
        <hr class="bottom-line">
    </div>
    <div class="fill-form">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
        <p class="danger-flash-Msg">{{msg}}</p> {% endfor %} {% endif %} {% endwith %}

        <form method="POST">

            <input type="number" name="income" placeholder="Enter your income.." required><br>

            <input type="Text" name="incomeType" placeholder="Enter your type of income.." required><br>

            <input type="date" name="incomeDate" placeholder="Choose Date of Income" required><br>

            <input type="Text" name="desc" placeholder="Write something.." required><br>


            <select name="fname">
                    <option >{{session['fullname']}}</option>
                </select>

            <input type="submit" value="Add" class="btn">

        </form>
    </div>
</div>
{% endblock %}