{% extends 'layout.html' %} {% block title %} Expense Details {% endblock %} {% block content %}
<div class="incomeList">
    <div class="webname">
        <h1>Expense <span style="color: #f44336;"> Details.</span></h1>
        <hr class="bottom-line">
    </div>
</div>
<div class="list-details">
    <table align="center">
        <tr>
            <th>Expense</th>
            <th>Type of Expense</th>
            <th>Date of Expense</th>
            <th>Description</th>
            <th>Full Name</th>
            <th colspan="2">Action</th>
        </tr>
        {% for i in res %}
        <tr>

            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{session['fullname']}}</td>
            <td> <a href="/editE/{{ i[0] }}">Edit</a> |
                <a href="/deleteExp/{{ i[0] }}">Delete</a></td>

        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="total">
        <h1>your total expense so far <span>&#8377 {{ExpBal}}/-</span></h1>
    </div>
</div>
<br> {% endblock %}